{%  extends 'base.html' %}
{% block title %}
    Post Create
{% endblock %}

{% block content %}

<form action="{% url 'post_create' %}" method="post">
    {% csrf_token %}
    {% for elem in form %}
    <div class="form-group">
        {% if elem.errors %}
            <div class="alert alert-danger">
                {{ elem.error }}
            </div>
        {% endif %}
        {{ elem.label}}
        {{ elem }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create</button>
</form>

{% endblock %}