{% extends 'base.html'%}
{% block title%}
    Tag Update
{% endblock %}
{% block content %}

<form action="{{ tag.get_update_url }}" method="post" class="">
    {% csrf_token %}
    {% for elem in form %}
        <div class="form-group">
            {% if elem.errors %}
                <div class="alert alert-danger">
                    {{ elem.errors }}
                </div>
            {% endif %}
            {{ elem.label }}
            {{ elem }}
        </div>
    {% endfor %}


<button type="submit" class="btn btn-primary">Update Tag</button>
</form>
{% endblock %}